fastapi
uvicorn
gradio
langchain
langchain-huggingface
langchain-community
google-genai
chromadb
sentence-transformers
unstructured[all-docs]
python-multipart
pymupdf
python-dotenv
numpy
httpx
accelerate
torch
langchain-text-splitters
